<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Forecast</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="background"><canvas id="particles-js"></canvas></div>
  <h1>Upload CSV for Sales Forecast</h1>
  <form id="forecastForm" action="/forecast" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <input type="submit" value="Upload" />
  </form>
  <div id="forecastPlot"></div>
  <div id="forecastError"></div>
  <div id="forecastMetrics"></div>
  <div id="exactPredictions"></div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
